*{
    font-family: 'Poppins';
}

.logo-div {
    margin-top: 6%;
    margin-bottom: 5rem;
}

body {
    background-color: #09090B;
}

p {
    color: #D4D4D8;
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
}

h2 {
    color: #FAFAFA;
    margin: 0;
}

.result-div {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#button {
    margin-top: 3rem;
    background-color: #8AF0B2;
    border: none;
    color: #042F2E;
    font-weight: 800;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 0.5rem;
    width: 40%;
}

.back{
    margin-top: 5rem;
}